@charset "utf-8";

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// 2. Override styles
$lightgray: #F0F3F3;
$snow: #FCFAFA;
$wageningengreen: #339935;
$wildblueyonder: #A4B8C4;
$aurometalsauras: #6E8387;
$polypomonagreen: #1C541D;

$family-sans-serif: 'Montserrat', sans-serif;
$light: $lightgray;
$white: $snow;
$info: $polypomonagreen;
$link: $aurometalsauras;
$primary: $wageningengreen;
$ig-blue: #339935;

// 3. Import the rest of Bulma;
@import '../node_modules/bulma/bulma';
@import "../node_modules/react-responsive-carousel/lib/styles/carousel.min.css";
@import "../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

#logo-group .logo-group-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo-group .logo-group-box a {
    padding: 0.5rem;
  }
  
  #logo-group .logo-group-box a img {
    max-height: 60px;
  }





